<p>data-display works!</p>

<button (click)="getBooks()">getBooks</button>

<div >
    <table >
            <tr *ngFor="let book of books">
                <td>{{book.title}}</td>
                <td>{{book.subtitle}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.pages}}</td>
                <td>{{book.description}}</td>
                <td>{{book.website}}</td>
                <td>{{book.inCart}}</td>
                <td>{{book.price}}</td>
                <td>{{book.id}}</td>
                <td><button click="deleteBook(book.id)">delete</button></td>
            </tr> 
    </table>
</div>
